
@{
    Layout = "~/Views/Shared/_LayoutInicial.cshtml";

}
<link href="~/Content/bootstrap/css/bootstrap3.css" rel="stylesheet" />

<div class="hero-unit">
    <h2>Banner</h2>
    <p>
        ...
    </p>
</div>
<div class="row-fluid">
    <!-- lista de noticias -->

    @foreach (var noticia in ViewBag.Noticias)
    {
        <div class="col-md-4">

            <h2>@noticia.Titulo</h2>
            <div class="sidebar-nav well">
                <p>@noticia.Descricao</p>
            </div>
            <p><a class="btn btn-default" href=@noticia.Url>Leia mais &raquo;</a></p>
        </div>
    }
</div>



