
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<link href="~/Content/bootstrap/css/bootstrap3.css" rel="stylesheet" />

<div class="hero-unit">
    <h2>Banner</h2>
    <p>
        ...
    </p>
</div>
<div class="container-fluid">
    <!-- lista de noticias -->


    <div class="col-md-9">
        <div class="sidebar-nav well">
            <div class="row-fluid">

                @foreach (var noticia in ViewBag.Noticias)
            {
                    <div class="col-md-6">

                        <h2>@noticia.Titulo</h2>
                        <div class="sidebar-nav well">
                            <p>@noticia.Descricao</p>
                        </div>
                        <p><a class="btn btn-default" href=@noticia.Url>Leia mais &raquo;</a></p>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-md-3">

        <div class="row">

            @foreach (var noticia in ViewBag.Noticias)
            {
                if (noticia.Tipo == 2)
                {
                <div class="col-md-12">

                    <h2>@noticia.Titulo</h2>
                    <div class="sidebar-nav well">
                        <p>@noticia.Descricao</p>
                    </div>
                    <p><a class="btn btn-default" href=@noticia.Url>Leia mais &raquo;</a></p>
                </div>
                }
            }

        </div>

    </div>
    </>
</div>



